* {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: $second-color;
}

h1 {
    font-size: 0;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

p {
    font-size: 1em;
    // line-height: 2; //기본값(130%)에 2배
}

ul,
ol,
li {
    list-style: none;
}