@mixin responsive($break) {
    @if $break==moblie-size {
        @media screen and (min-width: $break-mobile) {
            //320px
            @content;
        }
    }
    @else if $break==tablet-size {
        @media screen and (min-width: $break-tablet) {
            // 768px
            @content;
        }
    }
    @else if $break==pc-size {
        @media screen and (min-width: $break-pc) {
            //1024px
            @content;
        }
    }
}

@font-face {
    font-family: 'Hahmlet-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@mixin confix {
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 10px;
    // background-color: rgb(158, 215, 158);
}

@mixin confix2 {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    // background-color: rgb(178, 213, 136);
}