@import "style.scss";
@import "common.scss";
@import "mixin.scss";
//body
body {
    font-family: $font-ham;
}

//==================header====================
.logo-menu{ 
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: $main-color;
    @include responsive(tablet-size) {
        display: flex;
    }
    .logo{
        width: 50px;
        margin-left: 3%;
        padding-top: 12px;
        img{
            width: 100%;
        }
    }
    .menu-button{
        position: absolute;
        top: 0;
        left: 85%;
        padding-top: 25px;
        span{
            display: block;
            width: 30px;
            height: 6px;
            margin-bottom: 3px;
            border-radius: 3px;
            background-color: $second-color;
        }
        @include responsive(tablet-size) {
            display: none;
        }

    }
    .pc-button{
        .gnb{
            width: 100%;
            display: none;
            @include responsive(tablet-size) {
                display: flex;
                margin-right: 20px;
                color: $second-color;
            }
            li{
                font-size: 0.5rem;
            }
        }
    }
    .github{
        display: none;
    }
}
//==================main-home====================
.confix{

    #homePage{
        background-color: $main-color;
        .wrapper{
            @include confix;
            .ellipse{
                img{
                    position: relative;
                    margin: 105px 0 37px 0 ;
                    width: 100%;
                    height: 73px;
                }
            }
            .mainTxt{
                position: absolute;
                top: 15%;
                
                margin-left: 20%;
                color: $main-color;
                h2{
                    font-size: 1.125em;
                    &:last-child{
                        text-align: center;
                    }
                }
            }
            .keyword{
                ul{
                    box-sizing: border-box;
                    padding: 10%;
                    margin-bottom: 70px;
                    // display: flex;
                    // justify-content: space-between;
                    li{
                        float: left;
                        color: $second-color;
                        .modalTxt{
                            display: none;
                        }
                    }
                }
            }
            .scroll{
                padding-bottom: 17px;
                img{
                    width: 20px;
                    height: 40px;
                    // margin-top: 70px;
                } 
                span{
                    color: $second-color;
                }
            }
            
        }

    }
    //==================main-aboutme====================
    #aboutmePage{
        background-color: $second-color;
        .wrapper{
            @include confix;
            h2{
                padding: 55px 0 60px 0;
                text-align: center;
                color: $main-color;
            }
            .pictureImg{
                img{
                    width: 275px;
                    margin-bottom: 37px;
                }
            }
            .aboutTxt{
                font-size: 0.875em;
                h3{
                    text-align: center;
                    font-size: 1.2em;
                    line-height: 30px;
                    margin-bottom: 50px;
                    color: $main-color;
                }
                .txtBox{
                    margin: 0 10%;
                    p{
                        color: $ham-button-color;
                    }
                    .about-education{
                        margin-top: 44px;
                        color: $main-color;
                    }
                }
            }
            .empty-leaf{
                display: none;
            }
            .greenYellow-leaf{
                img{
                    width: 50%;
                    position: relative;
                    right: -140px;
                }
            }
        }
    }
    
    //==================main-skills====================
    #skillsPage{
        background-color: $main-color;
        .wrapper{
            @include confix;
            h2{
                padding: 55px 0 60px 0;
                text-align: center;
                color: $second-color;
            }
            .skill-flex{
                @include responsive(tablet-size) {
                    display: flex;
                }
                .skill-list{
                    height: 240px;
                    box-sizing: border-box;
                    background-color: $second-color;
                    border-radius: 30px;
                    padding: 5%;
                    margin-bottom: 70px;
                    // overflow-y: hidden;
                    li{
                        width: 50%;
                        height: 35px;
                        float: left;
                        margin: 10px 0;
                        a{
                            color: $main-color;
                        }
                    }
                }
                .chart{
                    position: relative;
                    display:inline-block;
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    transition: 0.3s;
                    .center{
                        background-color: opacify($second-color , .3);
                        display : block;
                        position: absolute;
                        top:50%; left:50%;
                        width:200px; height:200px;
                        border-radius: 50%;
                        text-align:center; line-height: 200px;
                        font-size:30px;
                         transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    
    
    //==================main-PORTFOLIO====================
    #projectsPage{
        background-color: $second-color;
        .wrapper{
            @include confix;
            h2{
                padding: 55px 0 60px 0;
                text-align: center;
                color: $main-color;
            }
            .mockup-img{
                img{
                    width: 100%;
                }
            }
            .project-txt{
                font-size: 13px;
                border-radius: 5%;
                padding: 5%;
                margin: 45px 0 217px 0;
                background-color: $modal-color;
                .pro-title{
                    color: $main-color;
                    margin-bottom: 19px;
                    h3{
                        font-size: 17px;
                    }
                }
                .pro-box{
                    margin-bottom: 23px;
                    h3{
                        font-size: 14px;
                        color: $h3-color;
                    }
                    p{
                        font-size: 11px;
                    }
                }
                .pro-button{
                    display: flex;
                    justify-content: space-around;
                    text-align: center;
                    a{
                        border: 1px solid $main-color;
                        border-radius: 4px;
                        padding: 8px;
                        background-color: $main-color;
                        color: $second-color;
                    }
                }
            }
        }
    }
}


