@import "style.scss";
@import "common.scss";
@import "mixin.scss";
//body
body {
    font-family: $font-ham;
}

.wrapper {
    // width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
    // background-color: rgb(214, 215, 160);
}

//===============header====================
header {
    width: $width-wide;
    height: 100%;
    background-color: $background-brown;

    // @include responsive(tablet-size) {
    //     height: 60.625em;
    // }
    
    .title {  
        padding: 54px 0 358px 40px;
        font-size: 35px;
        color: $secondtxt-color;

        @include responsive(tablet-size) {
            padding: 0;
            position: absolute; 
            top: 0;
            z-index: 2;
            transform: rotate(90deg);
            transform-origin: 9% 110%;
            h2 {
                font-size: 4.688em;
            }
            br{
                display: none;
            }
        }
       
    }
    
    #menu {
        display: none;
        position: fixed;
        top: 0%;
        right: 0;
        width: 300px;
        height: 100%;
        z-index: 100;
        background-color: $point-color;
        .gnb {
            li {
                margin-top: 20%;
                width: 100%;
                text-align: center;
                font-size: 40px;
                a {
                    color: $secondtxt-color;
                }
            }
        }
    }
}

//===============main====================
main {
    //section-about
    .about-page {
        position: relative;
        width: 100%;
        height: 568px;
        background-color: $background-ivory;
        .page-head {
            display: flex;
            .khaki-leaf {
                width: 94px;
                height: 85px;
            }
            h2 {
                margin: 50px 0 45px 14px;
                color: $maintxt-color;
            }
        }
        .page-midd {
            .browncircle {
                width: 149px;
                height: 150px;
                margin-left: 74px;
            }
            .aboutMe-text {
                margin-top: 25px;
                h3{
                    font-size: 13px;
                    text-align: center;
                    margin-bottom: 15px;
                }
                .self-info{
                    font-size: 10px;
                    text-align: center;
                }
            }
        }
        .leaf-all {
            img{
                position: absolute;
                top: 385px;
                left: 175px;
                width: 112px;
            }
        }
    }


    //section-skill
    .skill-page {
        width: 100%;
        background-color: $background-brown;
        h2 {
            padding: 50px 0 45px 0;
            text-align: center;
            color: $secondtxt-color;
        }
        .skill-flex{
            .skill-title-list {
                height: 155px;
                padding: 14px;
                margin-bottom: 40px;
                box-sizing: border-box;
                border-radius: 30px;
                background-color: $background-ivory;
                li{
                    width: 50%;
                    float: left;
                    margin: 10px 0px;
                    a{
                        color: $maintxt-color;
                    }
                }
            }
            .skill-icon {
                .skill-icon-flex{
                    display: flex;
                    img {
                        width: 35px;
                    }
                    .skill-text{
                        div{
                            width: 70%;
                            margin-left: 10px;
                            border-radius: 8px;
                            background-color: $secondtxt-color;
                        }
                        span{
                            color: $secondtxt-color;
                        }
                    }
                }
            }
        }
    }
    .projects-page {
        background-color: $background-ivory;
        img {
            width: 30%;
        }
    }
}

//==================footer====================
footer {
    .contact {
        background-color: $background-brown;
    }
}