$main-color: #6f5252;
$second-color:  #f7f0e0;
$ham-button-color: #9f9887;
$modal-color: #c6b793;
$yellow-color: #f6e994;
$h3-color:#625a3c;

$font-ham: 'Hahmlet-Black';

$width-wide: 100%;
$width-half: 50%;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px; 



