$main-color: #6f5252;
$second-color:  #f7f0e0;
$point-color: #9f9887;

$color-hover:#f7f0e0;//opacity 58% 

$font-ham: 'Hahmlet-Black';

$width-wide: 100%;
$width-half: 50%;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px; 



