$main-color: #6f5252;
$second-color : #f7f0e0;
$yellow-color: #f8f292;
$gray-color: #828282;
$kaky-color: #80744a;
$modal-color: #c6b793;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1080px;

$font-ham: 'Hahmlet-Black';