@import "./../scss/style.scss";
@import "./../scss/common.scss";
@import "./../scss/mixin.scss";
header {
    .fix-menu {
        position: fixed;
        display: flex;
        top: 10px;
        right: 8px;
        z-index: 5;
        transition: all 0.5s;
        background-color: $main-color;
        border: 1px solid $main-color;
        border-radius: 7px;
        &:hover {
            background-color: $second-color;
        }
        a {
            padding: 5px;
            color: $second-color;
            &:hover {
                color: $main-color;
            }
        }
    }
}

main {
    width: 100%;
    padding-bottom: 6vw;
    color: #2c2928;
    background-color: #f2ece4;
    .mockup {
        .confix {
            @include confix;
            padding: 20vw 0 20vw 0;
            @include responsive(tablet-size) {
                padding-top: 8vw;
                width: 80%;
                margin: 0 auto;
            }
            img {
                width: 100%;
            }
        }
    }
    .guide-txt {
        .description {
            margin-bottom: 4em;
            padding: 5vw 0;
            background-color: #a7a7a7;
            .confix {
                @include confix;
                h2,
                h3 {
                    font-size: 5vw;
                    margin-bottom: 20px;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                        margin-bottom: 18px;
                    }
                    @include responsive(pc-size) {
                        font-size: 2vw;
                    }
                }
                p {
                    margin-bottom: 10px;
                    line-height: 1.8;
                    font-size: 3vw;
                    @include responsive(tablet-size) {
                        font-size: 2vw;
                    }
                    @include responsive(pc-size) {
                        font-size: 1.5vw;
                    }
                }
            }
        }
        .grid {
            margin-bottom: 6em;
            .confix {
                @include confix;
                h2 {
                    font-size: 5vw;
                    margin-bottom: 100px;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                    }
                }
                .grid-flex {
                    display: flex;
                    ul {
                        margin-bottom: 10px;
                        li {
                            line-height: 1.8;
                            font-size: 3vw;
                            @include responsive(tablet-size) {
                                font-size: 2vw;
                            }
                            @include responsive(pc-size) {
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
        }
        .font {
            padding: 5vw 0;
            margin-bottom: 5em;
            background-color: #a7a7a7;
            .confix {
                @include confix;
                h2 {
                    font-size: 5vw;
                    margin-bottom: 30px;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                    }
                    @include responsive(pc-size) {
                        font-size: 2vw;
                    }
                }
                ul {
                    display: flex;
                    li {
                        p {
                            margin-bottom: 20px;
                        }
                        img {
                            width: 15em;
                            @include responsive(tablet-size) {
                                width: 25em;
                            }
                            @include responsive(pc-size) {
                                width: 30em;
                            }
                        }
                    }
                }
            }
        }
        .color {
            padding: 5vw 0;
            margin-bottom: 5em;
            .confix {
                @include confix;
                h2 {
                    font-size: 5vw;
                    margin-bottom: 20px;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                    }
                    @include responsive(pc-size) {
                        font-size: 2vw;
                    }
                }
                p {
                    font-size: 3vw;
                    line-height: 1.8;
                    @include responsive(tablet-size) {
                        font-size: 2vw;
                    }
                }
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        margin: 3em 0;
                        .ivory-circle,
                        .black-circle,
                        .grey-circle {
                            width: 20vw;
                            height: 20vw;
                            margin-right: 2vw;
                            border-radius: 50%;
                        }
                        .ivory-circle {
                            border: 1px solid #2c2928;
                            background-color: #f2ece4
                        }
                        .black-circle {
                            background-color: #2c2928;
                        }
                        .grey-circle {
                            background-color: #a7a7a7;
                        }
                        p {
                            font-size: 3vw;
                            text-align: center;
                            margin: 10px 13px;
                            @include responsive(tablet-size) {
                                font-size: 2vw;
                            }
                            @include responsive(pc-size) {
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
        }
        .screen {
            .confix {
                @include confix;
                h2 {
                    font-size: 5vw;
                    margin-bottom: 1em;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                    }
                    @include responsive(pc-size) {
                        font-size: 2vw;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #a7a7a7;
    padding: 15px 0;
    p {
        @include confix;
        text-align: center;
        font-size: 0.8em;
    }
}