* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hahmlet-Black";
  background-color: #f7f0e0;
}

a {
  display: block;
  text-decoration: none;
  color: #f7f0e0;
}

h1 {
  font-size: 0;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
}

ul,
ol,
li {
  list-style: none;
}