@import "./../scss/style.scss";
@import "./../scss/common.scss";
@import "./../scss/mixin.scss";
header {
    .fix-menu {
        position: fixed;
        display: flex;
        top: 0;
        justify-content: space-between;
        width: 100%;
        height: 15vw;
        z-index: 5;
        background-color: $main-color;
        .logo {
            width: 10vw;
            padding-top: 3vw;
            margin-left: 3vw;
            img {
                width: 100%;
            }
            @include responsive(tablet-size) {
                width: 5vw;
            }
            @include responsive(pc-size) {
                width: 50px;
            }
        }
        .home-button {
            padding-top: 5vw;
            padding-right: 2vw;
            a {
                color: $second-color;
                font-size: 4.8vw;
                @include responsive(tablet-size) {
                    font-size: 22px;
                }
                &:hover {
                    color: $modal-color;
                }
            }
        }
    }
}

main {
    width: 100%;
    padding-bottom: 6vw;
    background-color: $second-color;
    .mockup {
        .confix {
            @include confix;
            padding: 20vw 0 20vw 0;
            @include responsive(tablet-size) {
                padding-top: 8vw;
                width: 80%;
                margin: 0 auto;
            }
            img {
                width: 100%;
            }
        }
    }
    .guide-txt {
        .description {
            margin-bottom: 4em;
            padding: 5vw 0;
            background-color: #faf6bf;
            .confix {
                @include confix;
                h2,
                h3 {
                    font-size: 5vw;
                    margin-bottom: 20px;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                        margin-bottom: 18px;
                    }
                    @include responsive(pc-size) {
                        font-size: 2vw;
                    }
                }
                p {
                    margin-bottom: 10px;
                    line-height: 1.8;
                    font-size: 3vw;
                    @include responsive(tablet-size) {
                        font-size: 2vw;
                    }
                    @include responsive(pc-size) {
                        font-size: 1.5vw;
                    }
                }
            }
        }
        .grid {
            margin-bottom: 6em;
            .confix {
                @include confix;
                h2 {
                    font-size: 5vw;
                    margin-bottom: 80px;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                    }
                    @include responsive(pc-size) {
                        font-size: 2vw;
                    }
                }
                .grid-flex {
                    display: flex;
                    ul {
                        margin-bottom: 10px;
                        li {
                            line-height: 1.8;
                            font-size: 3vw;
                            @include responsive(tablet-size) {
                                font-size: 2vw;
                            }
                            @include responsive(pc-size) {
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
        }
        .font {
            padding: 5vw 0;
            margin-bottom: 5em;
            background-color: #faf6bf;
            .confix {
                @include confix;
                h2 {
                    font-size: 5vw;
                    margin-bottom: 1em;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                    }
                    @include responsive(pc-size) {
                        font-size: 2vw;
                    }
                }
                img {
                    width: 15em;
                    @include responsive(tablet-size) {
                        width: 25em;
                    }
                    @include responsive(pc-size) {
                        width: 30em;
                    }
                }
            }
        }
        .color {
            padding: 5vw 0;
            margin-bottom: 5em;
            .confix {
                @include confix;
                h2 {
                    font-size: 5vw;
                    margin-bottom: 10vw;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                    }
                    @include responsive(pc-size) {
                        font-size: 2vw;
                    }
                }
                p {
                    font-size: 3vw;
                    line-height: 1.8;
                }
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        margin: 3em 0;
                        .white-circle,
                        .yellow-circle,
                        .gray-circle {
                            width: 20vw;
                            height: 20vw;
                            margin-right: 2vw;
                            border-radius: 50%;
                        }
                        .white-circle {
                            background-color: rgb(255, 255, 255);
                        }
                        .yellow-circle {
                            background-color: #f8f292;
                        }
                        .gray-circle {
                            background-color: #656161;
                        }
                        p {
                            font-size: 3vw;
                            margin: 10px 13px;
                            @include responsive(tablet-size) {
                                font-size: 2vw;
                            }
                            @include responsive(pc-size) {
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
        }
        .screen {
            .confix {
                @include confix;
                h2 {
                    font-size: 5vw;
                    margin-bottom: 1em;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                    }
                    @include responsive(pc-size) {
                        font-size: 2vw;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $main-color;
    padding: 3vw 0 4vw 0;
    p {
        @include confix;
        text-align: center;
        font-size: 0.8em;
        color: $second-color;
    }
}