* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hahmlet-Black";
}

a {
  display: block;
  text-decoration: none;
}

h1 {
  font-size: 0;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
}

ul,
ol,
li {
  list-style: none;
}

@font-face {
  font-family: "Hahmlet-Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.wrapper header {
  background-color: #6f5252;
}
.wrapper header .fix-menu {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  z-index: 5;
  background-color: #6f5252;
}
.wrapper header .fix-menu .logo {
  width: 45px;
  padding-top: 15px;
  margin-left: 20px;
}
.wrapper header .fix-menu .logo img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .wrapper header .fix-menu .logo {
    width: 5vw;
  }
}
@media screen and (min-width: 1080px) {
  .wrapper header .fix-menu .logo {
    width: 50px;
  }
}
.wrapper header .fix-menu .home-button {
  padding-top: 20px;
  padding-right: 20px;
}
.wrapper header .fix-menu .home-button a {
  color: #f7f0e0;
}
@media screen and (min-width: 768px) {
  .wrapper header .fix-menu .home-button a {
    font-size: 22px;
  }
}
.wrapper header .fix-menu .home-button a:hover {
  color: #c6b793;
}
.wrapper main {
  width: 100%;
  background-color: #6f5252;
}
.wrapper main .confix {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 6vw;
}
.wrapper main .confix .mockup {
  padding-top: 18vw;
}
.wrapper main .confix .mockup img {
  width: 100%;
}
.wrapper main .confix .guide-txt {
  width: 80%;
  padding: 10%;
  border-radius: 22px;
  background-color: #f7f0e0;
}
.wrapper main .confix .guide-txt .description {
  margin-bottom: 6em;
}
.wrapper main .confix .guide-txt .description .title {
  padding-top: 6vw;
  padding-bottom: 16vw;
}
@media screen and (min-width: 768px) {
  .wrapper main .confix .guide-txt .description .title {
    padding-top: 15vw;
  }
}
.wrapper main .confix .guide-txt .description .title span {
  font-size: 9vw;
  color: #6f5252;
  margin-left: 15px;
}
.wrapper main .confix .guide-txt .description .title span:last-child {
  display: block;
  text-align: center;
}
.wrapper main .confix .guide-txt .description h2, .wrapper main .confix .guide-txt .description h3 {
  color: #6f5252;
}
.wrapper main .confix .guide-txt .description p {
  margin-bottom: 30px;
  color: #80744a;
}
.wrapper main .confix .guide-txt .grid {
  margin-bottom: 6em;
}
.wrapper main .confix .guide-txt .grid h2 {
  color: #6f5252;
}
.wrapper main .confix .guide-txt .grid ul li {
  color: #6f5252;
}
.wrapper main .confix .guide-txt .font {
  margin-bottom: 6em;
}
.wrapper main .confix .guide-txt .font h2 {
  color: #6f5252;
}
.wrapper main .confix .guide-txt .color h2 {
  color: #6f5252;
}
.wrapper main .confix .guide-txt .color ul li {
  display: flex;
  margin: 3em 0;
}
.wrapper main .confix .guide-txt .color ul li .white-circle {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 2vw;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.wrapper main .confix .guide-txt .color ul li .yellow-circle {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 2vw;
  border-radius: 50%;
  background-color: #f8f292;
}
.wrapper main .confix .guide-txt .color ul li .gray-circle {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 2vw;
  border-radius: 50%;
  background-color: #656161;
}
.wrapper main .confix .guide-txt .color ul li p {
  margin: 10px 13px;
  line-height: 25px;
  color: #6f5252;
}
.wrapper footer {
  background-color: #6f5252;
  padding-bottom: 6vw;
}
.wrapper footer p {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8em;
  color: #f7f0e0;
}