@import "style.scss";
@import "common.scss";
@import "mixin.scss";
body {
    font-family: $font-ham;
}

//==================header====================
header {
    position: relative;
    width: 100%;
    z-index: 10;
    .logo-menu {
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        overflow: hidden;
        background-color: $main-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive(tablet-size) {
            display: flex;
        }
        .logo {
            width: 50px;
            margin-left: 5%;
            padding-top: 12px;
            img {
                width: 100%;
            }
        }
        .mobile-menu {
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 1000;
            background-color: $ham-button-color;
            .hamburger {
                position: fixed;
                float: right;
                top: 23px;
                right: 10%;
                width: 17px;
                height: 20px;
                z-index: 999;
                @include responsive(tablet-size) {
                    display: none;
                }
                input[id="menu"] {
                    display: none;
                }
                input[id="menu"]+label {
                    position: relative;
                    display: block;
                    width: 27px;
                    height: 20px;
                }
                input[id="menu"]+label span {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 5px;
                    border-radius: 100px;
                    background-color: $second-color;
                    transition: 0.2s;
                }
                input[id="menu"]+label span:first-child {
                    top: 0;
                }
                input[id="menu"]+label span:nth-child(2) {
                    top: 30%;
                    transform: translateY(-50%);
                }
                input[id="menu"]+label span:last-child {
                    top: 40%;
                }
                //click
                input[id="menu"]:checked+label span:first-child {
                    top: 0%;
                    transform: translateY(12px) rotate(40deg);
                }
                input[id="menu"]:checked+label span:nth-child(2) {
                    opacity: 0;
                }
                input[id="menu"]:checked+label span:last-child {
                    top: 0%;
                    transform: translateY(2px) rotate(-40deg);
                }
            }
            .mobile-gnb {
                height: 0vh;
                padding: 0 20px;
                z-index: 1200;
                overflow: hidden;
                transition: height 0.3s linear;
                .gnb-list {
                    position: relative;
                    top: 170px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    li {
                        text-align: center;
                        margin: 20px;
                        a {
                            &:hover {
                                color: $main-color;
                            }
                            img {
                                width: 25px;
                            }
                        }
                    }
                }
            }
        }
        .mainMenu {
            width: 100%;
            padding-top: 20px;
            @include responsive(tablet-size) {
                width: auto;
                margin-left: auto;
            }
            .gnb {
                width: 100%;
                display: none;
                cursor: pointer;
                @include responsive(tablet-size) {
                    display: flex;
                    width: 600px;
                    color: $second-color;
                }
                li {
                    text-align: center;
                    padding: 2.5% 0;
                    @include responsive(tablet-size) {
                        margin-right: 40px;
                        font-size: 1rem;
                        padding: 0;
                    }
                    @include responsive(pc-size) {
                        font-size: 1.3rem;
                    }
                }
                .gnbItem {
                    width: 28px;
                    img {
                        width: 100%;
                    }
                }
                @include responsive(pc-size) {
                    width: 700px;
                }
            }
        }
    }
}

//==================main-home====================
main {
    position: relative;
    margin-top: 70px;
    .confix {
        #homePage {
            background-color: $main-color;
            position: relative;
            .wrapper {
                @include confix;
                .ellipse {
                    img {
                        margin: 11vw 0 16vw 0;
                        width: 100%;
                        height: 25vw;
                        @include responsive(tablet-size) {
                            width: 90%;
                            height: 19vw;
                            margin: 9vw 0 5vw 0;
                            padding: 0 5%;
                        }
                        @include responsive(pc-size) {
                            width: 80%;
                            height: 15vw;
                            margin: 5vw 0 1vw 0;
                            padding: 0 10%;
                        }
                    }
                    .mainTxt {
                        position: absolute;
                        top: 15vw;
                        left: 28%;
                        @include responsive(tablet-size) {
                            top: 10.5vw;
                            left: 30%;
                        }
                        @include responsive(pc-size) {
                            top: 7.2vw;
                            left: 35%;
                        }
                        h2 {
                            color: $main-color;
                            font-size: 5.5vw;
                            text-align: center;
                            @include responsive(pc-size) {
                                font-size: 4vw;
                            }
                        }
                    }
                }
                .keywordTxt {
                    text-align: center;
                    color: $second-color;
                    overflow: hidden;
                    .topLine {
                        @include responsive(tablet-size) {
                            padding-top: 8vw;
                            display: flex;
                            justify-content: space-between;
                        }
                        @include responsive(pc-size) {
                            padding-top: 5vw;
                        }
                        .topTxt {
                            cursor: pointer;
                            padding-bottom: 12vw;
                            &:last-child {
                                padding-bottom: 170px;
                            }
                            &:first-child>p,
                            &:nth-child(3)>p,
                            &:nth-child(5)>p {
                                font-size: 5vw;
                                animation: mobiletxt-right 1.5s ease;
                                animation-fill-mode: both;
                                @keyframes mobiletxt-right {
                                    0% {
                                        transform: translateX(15vw);
                                        opacity: 0;
                                    }
                                    100% {
                                        transform: translateX(0vw);
                                        opacity: 1;
                                    }
                                }
                                @include responsive(tablet-size) {
                                    font-size: 3vw;
                                    animation: tabletText-downup 1.5s ease;
                                    animation-fill-mode: both;
                                    @keyframes tabletText-downup {
                                        0% {
                                            transform: translateY(9.7vw);
                                            opacity: 0;
                                        }
                                        100% {
                                            transform: translateY(0vw);
                                            opacity: 1;
                                        }
                                    }
                                }
                                @include responsive(pc-size) {
                                    font-size: 42px;
                                }
                            }
                            &:nth-child(2)>p,
                            &:nth-child(4)>p {
                                font-size: 5vw;
                                animation: mobiletxt-left 1.5s ease;
                                animation-fill-mode: both;
                                @keyframes mobiletxt-left {
                                    0% {
                                        transform: translateX(-15vw);
                                        opacity: 0;
                                    }
                                    100% {
                                        transform: translateX(0vw);
                                        opacity: 1;
                                    }
                                }
                                @include responsive(tablet-size) {
                                    font-size: 3vw;
                                    animation: tabletText-updown 1.5s ease;
                                    animation-fill-mode: both;
                                    @keyframes tabletText-updown {
                                        0% {
                                            transform: translateY(-9.7vw);
                                            opacity: 0;
                                        }
                                        100% {
                                            transform: translateY(0vw);
                                            opacity: 1;
                                        }
                                    }
                                }
                                @include responsive(pc-size) {
                                    font-size: 42px;
                                }
                            }
                        }
                    }
                    .respons p :hover {
                        opacity: 0;
                    }
                    .modalTxt {
                        display: none;
                        width: 37px;
                        height: 30px;
                        padding: 10px;
                        border-radius: 10px;
                        line-height: 1.7;
                        background-color: $modal-color;
                        font-size: 4vw;
                    }
                }
                .scroll {
                    position: absolute;
                    left: 50%;
                    bottom: 1.5%;
                    transform: translateX(-50%);
                    .mouse {
                        position: absolute;
                        width: 20px;
                        height: 40px;
                        bottom: 22px;
                        left: 50%;
                        transform: translateX(-50%);
                        border: 2px solid $second-color;
                        border-radius: 50%;
                        @include responsive(pc-size) {
                            width: 30px;
                            height: 60px;
                            bottom: 28px;
                        }
                        .mouse-ball {
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            top: 30px;
                            right: 6px;
                            border-radius: 4px;
                            background-color: $second-color;
                            animation: mouseball 2s ease infinite;
                            @keyframes mouseball {
                                0% {
                                    transform: translateY(-7vw);
                                }
                                100% {
                                    transform: translateY(0);
                                }
                            }
                            @include responsive(tablet-size) {
                                width: 8px;
                                height: 8px;
                                top: 30px;
                                right: 6px;
                                animation: mouseball-tablet 2s ease infinite;
                                @keyframes mouseball-tablet {
                                    0% {
                                        transform: translateY(-3vw);
                                    }
                                    100% {
                                        transform: translateY(0);
                                    }
                                }
                            }
                            @include responsive(pc-size) {
                                width: 10px;
                                height: 10px;
                                top: 40px;
                                right: 10px;
                                animation: mouseball-pc 2s ease infinite;
                                @keyframes mouseball-pc {
                                    0% {
                                        transform: translateY(-2vw);
                                    }
                                    100% {
                                        transform: translateY(0);
                                    }
                                }
                            }
                        }
                    }
                    span {
                        text-align: center;
                        font-size: 10px;
                        color: $second-color;
                        @include responsive(pc-size) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        //==================main-aboutme====================
        #aboutmePage {
            background-color: $second-color;
            position: relative;
            .wrapper {
                @include confix;
                h2 {
                    padding: 55px 0 60px 0;
                    font-size: 5vw;
                    text-align: center;
                    color: $main-color;
                    @include responsive(tablet-size) {
                        font-size: 3vw;
                        text-align: left;
                        padding: 55px 0 0 0;
                    }
                }
                .about-flex {
                    display: flex;
                    flex-direction: column;
                    padding: 0 10%;
                    padding-bottom: 8em;
                    @include responsive(tablet-size) {
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                    }
                    font-size: 0.875em;
                    .pictureImg {
                        img {
                            width: 65vw;
                            margin-bottom: 37px;
                            @include responsive(tablet-size) {
                                width: 25vw;
                            }
                        }
                    }
                    .txt-flex {
                        @include responsive(tablet-size) {
                            padding-left: 10px;
                        }
                        h3 {
                            text-align: center;
                            font-size: 1.2em;
                            line-height: 30px;
                            margin-bottom: 50px;
                            color: $main-color;
                            @include responsive(tablet-size) {
                                font-size: 18px;
                            }
                            @include responsive(pc-size) {
                                font-size: 28px;
                            }
                        }
                        .aboutTxt {
                            margin: 0 5%;
                            @include responsive(tablet-size) {
                                margin: 0 10%;
                            }
                            @include responsive(pc-size) {
                                margin: 0 20%;
                            }
                            .txtBox2 {
                                div {
                                    padding-bottom: 15px;
                                    color: $ham-button-color;
                                    @include responsive(tablet-size) {
                                        font-size: 18px;
                                    }
                                    @include responsive(pc-size) {
                                        font-size: 24px;
                                    }
                                }
                            }
                            .about-education {
                                margin-top: 44px;
                                color: $main-color;
                                @include responsive(tablet-size) {
                                    font-size: 18px;
                                }
                                @include responsive(pc-size) {
                                    font-size: 24px;
                                }
                            }
                        }
                    }
                }
                .leafs {
                    position: relative;
                    padding-bottom: 129px;
                    @include responsive(tablet-size) {
                        display: flex;
                        justify-content: space-between;
                    }
                    .empty-leaf {
                        display: none;
                        @include responsive(tablet-size) {
                            position: absolute;
                            display: inline-block;
                            max-width: 150px;
                            bottom: 0px;
                            left: 0px;
                            animation: moveleafs 8s linear infinite alternate;
                            @keyframes moveleafs {
                                0% {
                                    transform: rotate(0deg);
                                    transform-origin: bottom;
                                }
                                100% {
                                    transform: rotate(-10deg);
                                    transform-origin: bottom;
                                }
                            }
                        }
                        @include responsive(pc-size) {
                            max-width: 250px;
                        }
                    }
                    .greenYellow-leaf {
                        position: absolute;
                        max-width: 150px;
                        right: 10px;
                        bottom: 0px;
                        animation: moveleaf 6s linear infinite alternate;
                        @keyframes moveleaf {
                            0% {
                                transform: rotate(0deg);
                                transform-origin: bottom;
                            }
                            100% {
                                transform: rotate(-10deg);
                                transform-origin: bottom;
                            }
                        }
                        @include responsive(tablet-size) {
                            width: 20%;
                            right: -4px;
                        }
                        @include responsive(pc-size) {
                            max-width: 250px;
                        }
                    }
                }
            }
        }
        //==================main-skills====================
        #skillsPage {
            background-color: $main-color;
            .wrapper {
                @include confix;
                h2 {
                    padding: 55px 0 60px 0;
                    font-size: 5vw;
                    text-align: center;
                    color: $second-color;
                    @include responsive(tablet-size) {
                        text-align: left;
                        font-size: 3vw;
                    }
                }
                .skill-flex {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @include responsive(tablet-size) {
                        flex-direction: row;
                        justify-content: space-around;
                        // align-items: center;
                        padding-bottom: 10vw;
                    }
                    .skill-list {
                        height: 240px;
                        box-sizing: border-box;
                        background-color: $second-color;
                        border-radius: 30px;
                        margin-bottom: 70px;
                        padding-top: 30px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        @include responsive(tablet-size) {
                            width: 30%;
                            height: 100%;
                            padding: 5%;
                        }
                        li {
                            width: 50%;
                            text-align: center;
                            @include responsive(tablet-size) {
                                width: 100%;
                                height: 30px;
                                padding: 3%;
                                margin: 1vw 0;
                            }
                            a {
                                color: $main-color;
                                @include responsive(tablet-size) {
                                    font-size: 1.8vw;
                                }
                            }
                        }
                    }
                    .chart {
                        position: relative;
                        display: inline-block;
                        width: 300px;
                        height: 300px;
                        border-radius: 50%;
                        margin-bottom: 70px;
                        transition: 0.3s;
                        .center {
                            background-color: opacify($second-color, .3);
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 200px;
                            font-size: 30px;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
        //==================main-PORTFOLIO====================
        #projectsPage {
            background-color: $second-color;
            .wrapper {
                max-width: 600px;
                margin: 0 auto;
                padding: 0 10px;
                @include responsive(pc-size) {
                    @include confix;
                }
                h2 {
                    padding: 55px 0 60px 0;
                    font-size: 4.5vw;
                    text-align: center;
                    color: $main-color;
                    @include responsive(pc-size) {
                        font-size: 3vw;
                        text-align: left;
                    }
                }
                .Project-flex {
                    display: flex;
                    flex-direction: column;
                    padding: 4em 0 10em 0;
                    @include responsive(pc-size) {
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    .mockup-img {
                        @include responsive(pc-size) {
                            padding: 0 2%;
                            width: 50%;
                        }
                        img {
                            width: 100%;
                        }
                    }
                    .project-txt {
                        width: 100%;
                        font-size: 13px;
                        border-radius: 5%;
                        margin-top: 45px;
                        background-color: $modal-color;
                        @include responsive(pc-size) {
                            margin-top: 0;
                            width: 50%;
                        }
                        .pro-title {
                            padding: 5% 5%;
                            // padding-bottom: 1%;
                            width: 90%;
                            color: $main-color;
                            margin-bottom: 19px;
                            @include responsive(pc-size) {
                                margin-bottom: -10px;
                            }
                            ul {
                                li {
                                    margin-top: 1.1rem;
                                    span {
                                        font-size: 2.5vw;
                                        @include responsive(pc-size) {
                                            font-size: 1rem;
                                        }
                                    }
                                    h3 {
                                        font-size: 3vw;
                                        @include responsive(pc-size) {
                                            font-size: 21px;
                                        }
                                    }
                                    p {
                                        font-size: 2.5vw;
                                        line-height: 1.5rem;
                                        margin-top: 1.2vw;
                                        @include responsive(pc-size) {
                                            margin-top: 0.5rem;
                                            font-size: 1rem;
                                        }
                                    }
                                    &:last-child>p {
                                        text-align: justify;
                                    }
                                    &:nth-child(2)>h3,
                                    &:nth-child(3)>h3,
                                    &:nth-child(4)>h3 {
                                        color: $h3-color;
                                    }
                                }
                            }
                        }
                        .pro-button {
                            display: flex;
                            justify-content: space-around;
                            text-align: center;
                            padding-bottom: 1.2rem;
                            a {
                                border: 1px solid $main-color;
                                border-radius: 13px;
                                padding: 7px;
                                background-color: $main-color;
                                color: $second-color;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        #projectScript {
            position: relative;
            width: 100%;
            padding-bottom: 5em;
            background-color: $second-color;
            @include responsive(tablet-size) {
                padding-bottom: 12em;
            }
            .projectScript-area {
                ul {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 0 auto;
                    min-width: 300px;
                    @include responsive(script-size) {
                        flex-direction: row;
                    }
                    li {
                        position: relative;
                        width: 70vw;
                        margin: 0 auto;
                        margin-bottom: 3vw;
                        overflow: hidden;
                        @include responsive(script-size) {
                            width: 41.5vw;
                        }
                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            content: '';
                            background-color: $main-color;
                            opacity: 0;
                            transition: all .2s;
                            z-index: 1;
                        }
                        &:hover {
                            border: 1px solid $yellow-color;
                            box-shadow: 0 0 5px $yellow-color;
                            transition: .6s;
                            &::before {
                                opacity: .95;
                            }
                        }
                        &:hover .workInfo {
                            display: block;
                        }
                        .works-img {
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                        .workInfo {
                            display: none;
                            position: absolute;
                            top: 10%;
                            width: 100%;
                            text-align: center;
                            z-index: 2;
                            h3 {
                                margin-bottom: 28px;
                                padding-top: 20px;
                                color: $second-color;
                            }
                            p {
                                padding: 0 10%;
                                margin-bottom: 44px;
                                color: $second-color;
                            }
                            span {
                                display: block;
                                color: $yellow-color;
                            }
                            button {
                                margin-top: 2em;
                                border: none;
                                border-radius: 52px;
                                padding: 2% 5%;
                                background-color: $second-color;
                                &:hover {
                                    background-color: $ham-button-color;
                                    transition: .6s;
                                }
                                a {
                                    z-index: 2;
                                    padding: 1px;
                                    font-size: 1rem;
                                    color: $main-color;
                                    z-index: 2;
                                    &:hover {
                                        color: $second-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #contactPage {
            padding-top: 2em;
            background-color: $main-color;
            .e-mail {
                @include contact;
                margin-bottom: 2em;
                padding-left: 2em;
                justify-content: space-between;
                a {
                    display: flex;
                    align-items: center;
                    img {
                        width: 48px;
                        margin-right: 1em;
                    }
                }
            }
            .kakao {
                @include contact;
                margin-bottom: 3em;
                padding-left: 2em;
                justify-content: space-between;
                a {
                    display: flex;
                    align-items: center;
                    img {
                        width: 48px;
                        margin-right: 1em;
                    }
                }
            }
            .end-logo {
                text-align: center;
                img {
                    width: 32px;
                    padding-bottom: 0.7em;
                }
            }
        }
    }
}