* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "MICEGothic Bold";
}

a {
  display: block;
  text-decoration: none;
}

h1 {
  font-size: 0;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
}

ul,
ol,
li {
  list-style: none;
}

@font-face {
  font-family: "MICEGothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
header .fix-menu {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 15vw;
  z-index: 5;
  background-color: #6f5252;
}
header .fix-menu .logo {
  width: 10vw;
  padding-top: 3vw;
  margin-left: 3vw;
}
header .fix-menu .logo img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  header .fix-menu .logo {
    width: 5vw;
  }
}
@media screen and (min-width: 1080px) {
  header .fix-menu .logo {
    width: 50px;
  }
}
header .fix-menu .home-button {
  padding-top: 5vw;
  padding-right: 2vw;
}
header .fix-menu .home-button a {
  color: #f7f0e0;
  font-size: 4.8vw;
}
@media screen and (min-width: 768px) {
  header .fix-menu .home-button a {
    font-size: 22px;
  }
}
header .fix-menu .home-button a:hover {
  color: #c6b793;
}

main {
  width: 100%;
  padding-bottom: 6vw;
  background-color: #f7f0e0;
}
main .mockup .confix {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  padding: 20vw 0 20vw 0;
}
@media screen and (min-width: 768px) {
  main .mockup .confix {
    padding-top: 8vw;
    width: 80%;
    margin: 0 auto;
  }
}
main .mockup .confix img {
  width: 100%;
}
main .guide-txt .description {
  margin-bottom: 4em;
  padding: 5vw 0;
  background-color: #faf6bf;
}
main .guide-txt .description .confix {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
main .guide-txt .description .confix h2,
main .guide-txt .description .confix h3 {
  font-size: 5vw;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  main .guide-txt .description .confix h2,
main .guide-txt .description .confix h3 {
    font-size: 3vw;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1080px) {
  main .guide-txt .description .confix h2,
main .guide-txt .description .confix h3 {
    font-size: 2vw;
  }
}
main .guide-txt .description .confix p {
  margin-bottom: 10px;
  line-height: 1.8;
  font-size: 3vw;
}
@media screen and (min-width: 768px) {
  main .guide-txt .description .confix p {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  main .guide-txt .description .confix p {
    font-size: 1.5vw;
  }
}
main .guide-txt .grid {
  margin-bottom: 6em;
}
main .guide-txt .grid .confix {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
main .guide-txt .grid .confix h2 {
  font-size: 5vw;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  main .guide-txt .grid .confix h2 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1080px) {
  main .guide-txt .grid .confix h2 {
    font-size: 2vw;
  }
}
main .guide-txt .grid .confix .grid-flex {
  display: flex;
}
main .guide-txt .grid .confix .grid-flex ul {
  margin-bottom: 10px;
}
main .guide-txt .grid .confix .grid-flex ul li {
  line-height: 1.8;
  font-size: 3vw;
}
@media screen and (min-width: 768px) {
  main .guide-txt .grid .confix .grid-flex ul li {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  main .guide-txt .grid .confix .grid-flex ul li {
    font-size: 1.5vw;
  }
}
main .guide-txt .font {
  padding: 5vw 0;
  margin-bottom: 5em;
  background-color: #faf6bf;
}
main .guide-txt .font .confix {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
main .guide-txt .font .confix h2 {
  font-size: 5vw;
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  main .guide-txt .font .confix h2 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1080px) {
  main .guide-txt .font .confix h2 {
    font-size: 2vw;
  }
}
main .guide-txt .font .confix img {
  width: 15em;
}
@media screen and (min-width: 768px) {
  main .guide-txt .font .confix img {
    width: 25em;
  }
}
@media screen and (min-width: 1080px) {
  main .guide-txt .font .confix img {
    width: 30em;
  }
}
main .guide-txt .color {
  padding: 5vw 0;
  margin-bottom: 5em;
}
main .guide-txt .color .confix {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
main .guide-txt .color .confix h2 {
  font-size: 5vw;
  margin-bottom: 10vw;
}
@media screen and (min-width: 768px) {
  main .guide-txt .color .confix h2 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1080px) {
  main .guide-txt .color .confix h2 {
    font-size: 2vw;
  }
}
main .guide-txt .color .confix p {
  font-size: 3vw;
  line-height: 1.8;
}
main .guide-txt .color .confix ul {
  display: flex;
  justify-content: space-between;
}
main .guide-txt .color .confix ul li {
  margin: 3em 0;
}
main .guide-txt .color .confix ul li .white-circle,
main .guide-txt .color .confix ul li .yellow-circle,
main .guide-txt .color .confix ul li .gray-circle {
  width: 20vw;
  height: 20vw;
  margin-right: 2vw;
  border-radius: 50%;
}
main .guide-txt .color .confix ul li .white-circle {
  background-color: rgb(255, 255, 255);
}
main .guide-txt .color .confix ul li .yellow-circle {
  background-color: #f8f292;
}
main .guide-txt .color .confix ul li .gray-circle {
  background-color: #656161;
}
main .guide-txt .color .confix ul li p {
  font-size: 3vw;
  margin: 10px 13px;
}
@media screen and (min-width: 768px) {
  main .guide-txt .color .confix ul li p {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  main .guide-txt .color .confix ul li p {
    font-size: 1.5vw;
  }
}
main .guide-txt .screen .confix {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
main .guide-txt .screen .confix h2 {
  font-size: 5vw;
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  main .guide-txt .screen .confix h2 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1080px) {
  main .guide-txt .screen .confix h2 {
    font-size: 2vw;
  }
}

footer {
  background-color: #6f5252;
  padding: 3vw 0 4vw 0;
}
footer p {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  font-size: 0.8em;
  color: #f7f0e0;
}