* {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

h1 {
  font-size: 0;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
}

ul,
ol,
li {
  list-style: none;
}

@font-face {
  font-family: 'Hahmlet-Black';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Hahmlet-Black";
}

.wrapper {
  position: relative;
  width: 100vw;
  margin: 0 auto;
}

.wrapper header {
  background-color: #6f5252;
}

.wrapper header .fix-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  z-index: 5;
  background-color: #6f5252;
}

.wrapper header .fix-menu .logo {
  width: 6vw;
  padding-top: 10px;
  margin-left: 5%;
}

.wrapper header .fix-menu .logo img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .wrapper header .fix-menu .logo {
    width: 4vw;
  }
}

.wrapper header .fix-menu .home-button {
  padding-top: 6px;
  padding-right: 6px;
}

.wrapper header .fix-menu .home-button img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .wrapper header .fix-menu .home-button {
    padding-right: 6px;
  }
}

.wrapper main {
  position: relative;
  width: 100vw;
  background-color: #6f5252;
}

.wrapper main .confix {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 6vw;
  position: relative;
}

.wrapper main .confix .title {
  padding-top: 20vw;
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .wrapper main .confix .title {
    padding-top: 15vw;
  }
}

.wrapper main .confix .title span {
  font-size: 9vw;
  color: #f7f0e0;
  margin-left: 50px;
}

.wrapper main .confix .title span:last-child {
  display: block;
  text-align: center;
}

.wrapper main .confix .mockup {
  position: absolute;
  width: 90%;
  top: 51vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wrapper main .confix .mockup img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .wrapper main .confix .mockup {
    width: 70%;
  }
}

.wrapper main .confix .guide-txt {
  width: 90%;
  border-radius: 22px;
  width: 100%;
  margin-top: 50vw;
  padding: 0 1vw;
  padding-top: 30vw;
  background-color: #f7f0e0;
}

.wrapper main .confix .guide-txt .description {
  margin-bottom: 6em;
}

.wrapper main .confix .guide-txt .description h2 {
  color: #6f5252;
}

.wrapper main .confix .guide-txt .description p {
  margin-bottom: 30px;
}

.wrapper main .confix .guide-txt .grid {
  margin-bottom: 6em;
}

.wrapper main .confix .guide-txt .grid h2 {
  color: #6f5252;
}

.wrapper main .confix .guide-txt .font {
  margin-bottom: 6em;
}

.wrapper main .confix .guide-txt .font h2 {
  color: #6f5252;
}

.wrapper main .confix .guide-txt .color h2 {
  color: #6f5252;
}

.wrapper main .confix .guide-txt .color .white-circle {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 2vw;
  border-radius: 50%;
  background-color: #fffffe;
}

.wrapper main .confix .guide-txt .color .yellow-circle {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 2vw;
  border-radius: 50%;
  background-color: #f1ee95;
}

.wrapper main .confix .guide-txt .color .gray-circle {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 2vw;
  border-radius: 50%;
  background-color: #64615d;
}

.wrapper footer {
  background-color: #6f5252;
  padding-bottom: 6vw;
}

.wrapper footer p {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8em;
  color: #f7f0e0;
}
/*# sourceMappingURL=morning.css.map */